#\u4F7F\u7528\u7AEF\u53E3
server:
  port: 9527
  #\u8BBE\u7F6E\u7EDF\u4E00\u524D\u7F00
  context-path: /api/v1

banner:
  location: config/santo-fly.banner

token-random-salt: santo-fly@123

controller:
  scanPackage: com.santo.controller

# jdbc_config
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/liugh?useUnicode=true&characterEncoding=utf8&useSSL=false
    username: root
    password: 111111
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    filters: stat,wall,log4j
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
    useGlobalDataSourceStat: true
  #redis\u6570\u636E\u5E93\u7684\u7D22\u5F15\uFF0C\u9ED8\u8BA4\u4E3A0
  redis:
    database: 0
    host: 127.0.0.1
    #password=
    port: 6379
    #\u6700\u5927\u7A7A\u95F2\u94FE\u63A5\u6570
    pool:
      max-idle: 8
      #\u6700\u5C0F\u7A7A\u95F2\u8FDE\u63A5\u6570\u3000\u3000
      min-idle: 0
      #\u8FDE\u63A5\u6C60\u6700\u5927\u8FDE\u63A5\u6570\uFF0C\u8D1F\u6570\u8868\u793A\u65E0\u6700\u5927\u8FDE\u63A5\u6570
      max-active: 8
      #\u8FDE\u63A5\u6C60\u6700\u5927\u963B\u585E\u7B49\u5F85\u65F6\u95F4\uFF0C\u8D1F\u6570\u8868\u793A\u6CA1\u6709
      max-wait: -1

mybatis-plus:
  mapper-locations: classpath:/com/santo/mapper/xml/*Mapper.xml
  typeAliasesPackage: com.santo.entity

logging:
  config: classpath:config/logback-spring.xml
  level:
    root: info
  path: logs/
  file: santo-fly.log